.chat-main
  .chat-main__header
    .chat-main__header__leftbox
      .chat-main__header__leftbox__current_group
        = @group.name
      .chat-main__header__leftbox__member-lists
        Member：
        .chat-main__header__leftbox__member-lists__member
          - @group.users.each do |user|
            = user.name
      
    .chat-main__header-edit__btn
      = link_to edit_group_path(@group), class: "edit__btn" do
        Edit

  .chat-main__messages
    = render @messages

  .chat-main__form
    = form_for [@group, @message] do |f|
      .chat-main__form-box
        = f.text_field :body, class: 'chat-main__form-box__text', placeholder: 'type a message'
        .chat-main__form-box__text__pic-btn
          = f.label :image, class:"" do
            = icon('fas', 'image', class: "")
            = f.file_field :image, class: 'chat-main__form-box__text__pic-btn__hidden'  
        = f.submit 'Send', class: 'chat-main__form-box__send-btn'
