.chat-main
  .chat-main__header
    .chat-main__header-leftbox
      .current_group
        テックキャンプ
      .member_lists
        Member：miho
      
    .chat-main__header-edit__btn
      = link_to '#', class: "edit__btn" do
        Edit

  .chat-main__messages
    = render @messages
    -# .chat-main__messages__message-box
    -#   .chat-main__messages__message-box__info
    -#     .chat-main__messages__message-box__info__user-name
    -#       miho
    -#     .chat-main__messages__message-box__info__sent-time
    -#       2020/04/27(Mon) 17:30
    -#   .chat-main__messages--message-box__message
    -#     やほー！

  .chat-main__form
    = form_for [@group, @message] do |f|
      .chat-main__form-box
        = f.text_field :body, class: 'chat-main__form-box__text', placeholder: 'type a message'
        .chat-main__form-box__text__pic-btn
          = f.label :image, class:"" do
            = icon('fas', 'image', class: "")
            = f.file_field :image, class: 'chat-main__form-box__text__pic-btn__hidden'  
        = f.submit 'Send', class: 'chat-main__form-box__send-btn'
